body
{
    background-color: hsl(66, 100%, 76%);
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

.header
{
    background-color: rgb(15, 235, 15);
    text-align: center;
    width: 500px;
    margin: 40px auto;
    padding: 20px;
}

.des 
{
    background-color: azure;
    color: rgb(0, 79, 105) ;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
.photo1
{
    display: block;
    width: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

.ingredients
{
    text-align: center;
    background-color: aqua;
    margin-bottom: 40px;
 }
.ingredients h2 
{
    background-color: rgb(0, 112, 112);
    padding: 5px;
}

.list_ingredient, ul
{
    list-style: square;
    text-align: left;
    display: inline-block;
    background-color: rgb(82, 255, 203);
    width: 500px;
    color: rgb(0, 20, 7);
}


.steps
{
    text-align: center;
    background-color: rgb(0, 255, 13);
    margin-bottom: 40px; 
}
.steps h2 
{
    background-color: rgb(0, 158, 8);
    padding: 5px;
}
.list_steps
{

    text-align: left;
    display: inline-block;
    background-color: rgb(187, 255, 123);
    width: 500px;
    color: rgb(0, 124, 43);

}

.bottom_button 
{
    text-align: center;

}
.bottom_button button
{
    padding: 20px;
}
.button1
{
    background-color: aquamarine;
    color: rgb(0, 78, 78);
}

.button1:hover
{
    background-color: rgb(0, 107, 71);
}
.button2

{
    background-color:lightblue ;
    color: rgb(0, 1, 68);
}
.button2:hover
{
   background-color:rgb(0, 73, 97) ;
}

.button3
{
    background-color: #ffe4c4;
    color: #8f8a5d;
}

.button3:hover
{
    background-color: #e7b578
}
.button4
{
    background-color: lightsalmon;
    color: rgb(112, 32, 0);
}
.button4:hover
{
    background-color: salmon;
}